{{>header}}
<h1 id="title-home">Bienvenido {{userRole}}</h1>


<div id="admin-header" class="container">
    <!-- Primera fila de botones -->
    <div class="row text-center mt-5">
        
        <div class="col-md-3 mb-3">
            <button onclick="location.href='/newProduct'" class="btn btn-success w-100" {{#unless (eq userRole 'admin'
                )}}disabled class="disabled" {{/unless}}>
                <img src="/icons/nuevo-producto.png" alt=""> Producto Nuevo
            </button>
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/products'" class="btn btn-info w-100" {{#unless (eq userRole 'admin'
                )}}disabled class="disabled" {{/unless}}>
                <img src="/icons/pancho.png" alt=""> Productos
            </button>
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/caja'" class="btn btn-dark w-100">
                <img src="/icons/dinero.png" alt=""> Ver Caja
            </button>
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/logout'" class="btn btn-danger w-100">
                <img src="/icons/cerrar-sesion.png" alt=""> Cerrar Sesion
            </button>
        </div>
    </div>

    <!-- Segunda fila de botones -->
    <div class="row text-center mt-5">

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/register'" class="btn btn-success w-100" {{#unless (eq userRole 'admin'
                )}}disabled class="disabled" {{/unless}}>
                <img src="/icons/ver-usuario.png" alt=""> Registrar Usuario
            </button>
        </div>
        <div class="col-md-3 mb-3">
            <button onclick="location.href='/users'" class="btn btn-info w-100" {{#unless (eq userRole 'admin'
                )}}disabled class="disabled" {{/unless}}>
                <img src="/icons/crear-usuario.png" alt=""> Ver Usuarios
            </button>
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/viewSales'" class="btn btn-dark w-100">
                <img src="/icons/bienes.png" alt=""> Ver Ventas
            </button>
        </div>

        <div class="col-md-3 mb-3">
            <button id="abrir-caja-btn" class="btn btn-secondary w-100" {{#unless (eq userRole 'admin' )}}disabled{{/unless}}>
                <img src="/icons/abrir-caja.png" alt=""> Abrir Caja
            </button>            
        </div>
    </div>

    <!-- Tercera fila de botones -->
    <div class="row text-center mt-5">

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/createCombo'" class="btn btn-success w-100" {{#unless (eq userRole 'admin' )}}disabled
                class="disabled" {{/unless}}>
                <img src="/icons/comida.png" alt=""> Crear Combo
            </button>
            
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/viewCombo'" class="btn btn-info w-100" {{#unless (eq userRole 'admin' )}}disabled
                class="disabled" {{/unless}}>
                <img src="/icons/hamburguesa.png" alt=""> Ver y Editar Combos
            </button>
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/reportes'" class="btn btn-dark w-100">
                Reportes Artículos
            </button>            
        </div>

        <div class="col-md-3 mb-3">
            <button onclick="location.href='/sales'" class="btn btn-warning w-100">
                <img src="/icons/ventas.png" alt=""> Ventas
            </button>            
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/abrirCaja.js"></script>




<style>
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

{{> footer}}