<div id="admin-header">
    {{>header}}    
    <h1>Bienvenido Admin</h1> 
    <div class="text-center mt-5">
        <a href="/newProduct" class="btn btn-success">Producto Nuevo</a>
        <a href="/products" class="btn btn-success">Productos</a>
        <a href="/caja" class="btn btn-success">Ver Caja</a>
        <a href="/logout" class="btn btn-danger">Cerrar Sesion</a>
    </div>
    <div class="container text-center mt-5">
        <a href="/users" class="btn btn-success">Ver Usuarios</a>
        <a href="/register" class="btn btn-success">Registrar Usuario</a>
        <button id="abrir-caja-btn" class="btn btn-primary">Abrir Caja</button>
        <a href="/viewSales" class="btn btn-success">Ver Ventas</a>
    </div>
    <a href="/sales" class="btn btn-success">Ventas</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/abrirCaja.js"></script>

{{>footer}}