{{>header}}

<div class="container mt-5" id="table-sales-form">
    <h1 id="title-factura">Facturación</h1>
    <form id="sale-form" action="/sales" method="POST">
        <div class="form-group row fw-bolder">
            <label for="factura" class="col-sm-2 col-form-label">Factura Numero:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="factura" name="factura" value="{{nextFactura}}" readonly>
            </div>
            <label for="vendedor" class="col-sm-2 col-form-label">Vendedor</label>
            <div class="col-sm-4">
                <select class="form-control" id="vendedor" name="vendedor" required>
                    {{#each users}}
                    <option value="{{this.username}}">{{this.username}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group row fw-bolder">
            <label for="pago" class="col-sm-2 col-form-label">Tipo de Pago</label>
            <div class="col-sm-4">
                <select class="form-control" id="pago" name="pago" required>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Mercado Pago" disabled>Mercado Pago</option>
                </select>
            </div>

            <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fecha" name="fecha"
                    value="{{moment currentDatetime format='YYYY-MM-DD HH:mm:ss'}}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <button type="button" id="buscar-btn" class="btn btn-primary mt-2"> <img src="/icons/buscar.png" alt=""> Buscar Producto</button>
                <button type="button" id="buscar-combo-btn" class="btn btn-warning mt-2"> <img src="/icons/buscar-combo.png" alt=""> Buscar Combo</button>
            </div>
        </div>

        <!-- Hidden inputs to hold the item data -->
        <div id="items-container">
            <!-- Items will be added here dynamically using JavaScript -->
        </div>

        <div class="total-container" id="total-cobrar">
            <h3>Total a Cobrar: $<span id="totalCobrar">0.00</span></h3>
            <input type="hidden" id="total" name="total" value="">
        </div>

        {{!-- CODIGO DE BARRA PRODUCTOS--}}
        <div class="form-group row fw-bolder">
            <label for="cod_barra" id="codigo-barra-busqueda">Codigo de Barra</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="cod_barra" name="cod_barra">
            </div>
        </div>
        

        <table class="table mt-3">
            <thead>
                <tr>
                    <th id="title-table-sales">Cant</th>
                    <th id="title-table-sales">Código de Barras</th>
                    <th id="title-table-sales">Descripción</th>
                    <th id="title-table-sales">Precio</th>
                    <th id="title-table-sales">Total</th>
                    <th id="title-table-sales">Editar</th>
                    <th id="title-table-sales">Eliminar</th>
                </tr>
            </thead>
            <tbody id="productosEncontrados">
                <!-- Productos agregados aparecerán aquí -->
            </tbody>
        </table>
        <div class="text-center">
            <button type="button" id="confirmar-venta-btn" class="btn btn-success mt-2" style="display:none;"> <img src="/icons/confirmacion.png" alt=""> Confirmar
                Venta</button>
        </div>
    </form>
    <div class="mt-5">
        <a href="/admin/home" class="btn btn-success"> <img src="/icons/flecha-hacia-atras.png" alt=""> Ir a Pagina Pricipal</a>
    </div>
</div>

<!-- Modal para seleccionar productos -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Seleccionar Producto</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Añadir input de búsqueda -->
                <div class="form-group">
                    <label for="searchProduct">Buscar Producto</label>
                    <input type="text" class="form-control" id="searchProduct"
                        placeholder="Escriba una descripción del producto">
                    <button type="button" class="btn btn-primary mt-2" id="searchProductBtn">Buscar</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código de Barras</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody id="productList">
                        <!-- Aquí se agregarán los productos disponibles -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar combos -->
<div class="modal fade" id="comboModal" tabindex="-1" role="dialog" aria-labelledby="comboModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comboModalLabel">Seleccionar Combo</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código de Barras</th>
                            <th>Nombre del Combo</th>
                            <th>Articulos del Combo</th>
                            <th>Precio</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody id="comboList">
                        <!-- Aquí se agregarán los combos disponibles -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script>
    $(document).ready(function () {
        $('.btn-close').click(function () {
            $('#productModal').modal('hide');
            $('#comboModal').modal('hide');
        });

        function abrirModal() {
            $.get('/sales/products', function (products) {
                $('#productList').empty();
                products.forEach(function (product) {
                    // Formatear el precio con signo "$" y dos decimales
                    let formattedPrecio = `$${parseFloat(product.precio_venta).toFixed(2)}`;
                    let row = `
                    <tr>
                        <td>${product.cod_barra}</td>
                        <td>${product.descripcion}</td>
                        <td>${formattedPrecio}</td>
                        <td>${product.stock}</td>
                        <td>
                            <button type="button" class="btn btn-primary seleccionar-producto" data-cod_barra="${product.cod_barra}" data-descripcion="${product.descripcion}" data-precio="${product.precio_venta}" data-stock="${product.stock}">
                                Seleccionar
                            </button>
                        </td>
                    </tr>
                `;
                    $('#productList').append(row);
                });
                $('#productModal').modal('show');
            }).fail(function () {
                alert('Error al cargar los productos');
            });
        }

        //--------------------------------------------------------------BUSCAR PRODUCTO y COMBOS POR CODIGO DE BARRA----------------------------------------------------------------------------
        document.getElementById('cod_barra').addEventListener('keydown', async function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                const cod_Barra = this.value.trim();
                if (!cod_Barra) {
                    alert('Por favor, ingrese un código de barra');
                    return;
                }
                try {
                    // Intentar buscar el combo primero
                    let response = await fetch(`/combos/barcode/${cod_Barra}`);
                    if (response.ok) {
                        const combo = await response.json();
                        agregarComboATabla(combo);
                        this.value = '';
                    } else {
                        // Si no se encuentra el combo, intentar buscar el producto
                        response = await fetch(`/product/barcode/${cod_Barra}`);
                        if (response.ok) {
                            const product = await response.json();
                            agregarProductoATabla(product);
                            this.value = '';
                        } else {
                            alert('Producto o combo no encontrado');
                        }
                    }
                } catch (error) {
                    console.error(error);
                    alert('Error al buscar el producto o combo');
                }
            }
        });

        function agregarProductoATabla(product) {
            let tbody = $('#productosEncontrados');
            let precio = parseFloat(product.precio_venta).toFixed(2);
            let precioConSigno = '$' + precio;

            let row = `
        <tr data-cod_barra="${product.cod_barra}" data-precio="${precio}">
            <td class="cantidad">1</td>
            <td class="cod_barra">${product.cod_barra}</td>
            <td class="descripcion">${product.descripcion}</td>
            <td class="precio">${precioConSigno}</td>
            <td class="total">${precioConSigno}</td>
            <td><button type="button" onclick="editarCantidad('${product.cod_barra}')" class="btn btn-primary">Editar Cantidad</button></td>
            <td><button type="button" onclick="borrarArticulo(this)" class="btn btn-danger">Borrar</button></td>
        </tr>
    `;

            tbody.append(row);
            actualizarTotal();
            toggleConfirmButton();
        }

        function agregarComboATabla(combo) {
            let tbody = $('#productosEncontrados');

            // Combinar las descripciones de todos los productos del combo
            let descripcionCombo = combo.productos.map(product => product.descripcion).join(', ');

            // Calcular el precio total del combo
            let precioTotalCombo = parseFloat(combo.precio).toFixed(2);
            let precioTotalConSigno = '$' + precioTotalCombo;
            let codigoBarraConPrefijo = `combo_${combo.codigoBarra}`;

            let row = `
        <tr data-cod_barra="${combo.codigoBarra}" data-precio="${precioTotalCombo}">
            <td class="cantidad">1</td>
            <td class="cod_barra">${codigoBarraConPrefijo}</td>
            <td class="descripcion">${descripcionCombo}</td>
            <td class="precio">${precioTotalConSigno}</td>
            <td class="total">${precioTotalConSigno}</td>
            <td><button type="button" onclick="editarCantidad('${combo.codigoBarra}')" class="btn btn-primary">Editar Cantidad</button></td>
            <td><button type="button" onclick="borrarArticulo(this)" class="btn btn-danger">Borrar</button></td>
        </tr>
    `;

            tbody.append(row);
            actualizarTotal();
            toggleConfirmButton();
        }


        //-----------------------------------------------------------------------------------------------FIN DE BUSQUEDA DE PRODUCTO POR CODIGO DE BARRA----------------------------------------





        function abrirModalCombo() {
            $.get('/sales/combos', function (combos) {
                $('#comboList').empty();
                combos.forEach(function (combo) {
                    let formattedPrecio = `$${parseFloat(combo.precio).toFixed(2)}`;
                    let stockInsuficiente = combo.productos.some(producto => producto.stock <= 0);

                    let row = `
                <tr>
                    <td>${combo.codigoBarra}</td>
                    <td>${combo.nombre}</td>
                    <td>
                        <ul>
                            ${combo.productos.map(producto => `<li>${producto.descripcion} (Stock: ${producto.stock})</li>`).join('')}
                        </ul>
                    </td>
                    <td>${formattedPrecio}</td>
                    <td>
                        <button type="button" class="btn btn-primary seleccionar-combo" data-combo-id="${combo._id}" data-combo-precio="${formattedPrecio}" data-combo-cod_barra="combo_${combo.codigoBarra}" ${stockInsuficiente ? 'disabled' : ''}>
                            ${stockInsuficiente ? 'Stock Insuficiente' : 'Seleccionar'}
                        </button>
                    </td>
                </tr>
            `;
                    $('#comboList').append(row);
                });
                $('#comboModal').modal('show');
            }).fail(function () {
                alert('Error al cargar los combos');
            });
        }

        $('#searchProductBtn').click(function () {
            let descripcion = $('#searchProduct').val();
            $.get(`/sales/products/search?descripcion=${descripcion}`, function (products) {
                $('#productList').empty();
                products.forEach(function (product) {
                    // Formatear el precio con signo "$" y dos decimales
                    let formattedPrecio = `$${parseFloat(product.precio_venta).toFixed(2)}`;
                    let row = `
                    <tr>
                        <td>${product.cod_barra}</td>
                        <td>${product.descripcion}</td>
                        <td>${formattedPrecio}</td>
                        <td>${product.stock}</td>
                        <td>
                            <button type="button" class="btn btn-primary seleccionar-producto" data-cod_barra="${product.cod_barra}" data-descripcion="${product.descripcion}" data-precio="${product.precio_venta}" data-stock="${product.stock}">
                                Seleccionar
                            </button>
                        </td>
                    </tr>
                `;
                    $('#productList').append(row);
                });
            }).fail(function () {
                alert('Error al buscar productos');
            });
        });

        $(document).on('click', '.seleccionar-producto', function () {
            let cod_barra = $(this).data('cod_barra');
            let descripcion = $(this).data('descripcion');
            let precio = parseFloat($(this).data('precio')).toFixed(2);
            let stock = $(this).data('stock');

            if (stock <= 0) {
                alert('El producto no tiene stock');
                return;
            }

            let precioConSigno = '$' + precio;
            let tbody = $('#productosEncontrados');
            let row = `
        <tr data-cod_barra="${cod_barra}" data-precio="${precio}">
            <td class="cantidad">1</td>
            <td class="cod_barra">${cod_barra}</td>
            <td class="descripcion">${descripcion}</td>
            <td class="precio">${precioConSigno}</td>
            <td class="total">${precioConSigno}</td>
            <td><button type="button" onclick="editarCantidad('${cod_barra}')" class="btn btn-primary">Editar Cantidad</button></td>
            <td><button type="button" onclick="borrarArticulo(this)" class="btn btn-danger">Borrar</button></td>
        </tr>
    `;

            tbody.append(row);
            $('#productModal').modal('hide');
            actualizarTotal();
            toggleConfirmButton();
        });





        $(document).on('click', '.seleccionar-combo', function () {
            let comboId = $(this).data('combo-id');
            let comboPrecio = $(this).data('combo-precio');
            let comboCodBarra = $(this).data('combo-cod_barra'); // Directamente sin prefijo

            $.get(`/sales/combos/${comboId}`, function (combo) {
                let productosDescripcion = combo.productos.map(producto => producto.descripcion).join(', ');
                let tbody = $('#productosEncontrados');
                let row = `
            <tr data-cod_barra="${comboCodBarra}">
                <td class="cantidad">1</td>
                <td class="cod_barra">${comboCodBarra}</td>
                <td class="descripcion">${productosDescripcion}</td>
                <td class="precio">${comboPrecio}</td>
                <td class="total">${comboPrecio}</td>
                <td><button type="button" onclick="editarCantidad('${comboCodBarra}')" class="btn btn-primary">Editar Cantidad</button></td>
                <td><button type="button" onclick="borrarArticulo(this)" class="btn btn-danger">Borrar</button></td>
            </tr>
        `;
                tbody.append(row);
                $('#comboModal').modal('hide');
                actualizarTotal();
                toggleConfirmButton();
            }).fail(function () {
                alert('Error al cargar los productos del combo');
            });
        });

        $('#buscar-btn').click(function () {
            abrirModal();
        });

        $('#buscar-combo-btn').click(function () {
            abrirModalCombo();
        });

        window.editarCantidad = function (cod_barra) {
            let row = $(`tr[data-cod_barra='${cod_barra}']`);
            let cantidad = parseInt(prompt('Ingrese la nueva cantidad:', row.find('.cantidad').text()));

            if (isNaN(cantidad) || cantidad <= 0) {
                alert('Cantidad inválida');
                return;
            }

            let precio = parseFloat(row.data('precio'));
            let total = (cantidad * precio).toFixed(2);
            let totalConSigno = '$' + total;

            row.find('.cantidad').text(cantidad);
            row.find('.total').text(totalConSigno);

            actualizarTotal();
        }

        window.borrarArticulo = function (button) {
            let row = button.closest('tr');
            row.remove();
            actualizarTotal();
            toggleConfirmButton();
        }

        function actualizarTotal() {
            let totalCobrarElement = $('#totalCobrar');
            let total = 0;

            $('#productosEncontrados tr').each(function () {
                let cantidad = parseFloat($(this).find('.cantidad').text());
                let precioString = $(this).find('.precio').text(); // Obtener el precio como string
                let precio = parseFloat(precioString.replace('$', '').trim()); // Eliminar el signo $ y convertir a número

                if (!isNaN(cantidad) && !isNaN(precio)) {
                    total += cantidad * precio;
                }
            });

            totalCobrarElement.text(total.toFixed(2)); // Mostrar el total con el signo $
            $('#total').val(total.toFixed(2)); // Actualizar el valor del campo oculto

            // Si necesitas hacer algo más con el total, puedes hacerlo aquí
        }

        function toggleConfirmButton() {
            if ($('#productosEncontrados tr').length > 0) {
                $('#confirmar-venta-btn').show();
            } else {
                $('#confirmar-venta-btn').hide();
            }
        }

        document.getElementById('confirmar-venta-btn').addEventListener('click', (event) => {
            event.preventDefault();

            // Mostrar el mensaje de confirmación
            const userConfirmed = confirm('¿Confirmar venta?');
            if (userConfirmed) {
                const itemsContainer = document.getElementById('items-container');
                itemsContainer.innerHTML = '';
                const rows = document.querySelectorAll('#productosEncontrados tr');

                rows.forEach((row, index) => {
                    const cod_barra = row.querySelector('.cod_barra') ? row.querySelector('.cod_barra').textContent : null;
                    const descripcion = row.querySelector('.descripcion') ? row.querySelector('.descripcion').textContent : null;
                    const cantidad = row.querySelector('.cantidad') ? row.querySelector('.cantidad').textContent : null;
                    const precio = row.querySelector('.precio') ? row.querySelector('.precio').textContent : null;
                    const total = row.querySelector('.total') ? row.querySelector('.total').textContent : null;

                    if (cod_barra && descripcion && cantidad && precio && total) {
                        itemsContainer.innerHTML += `
                    <input type="hidden" name="items[${index}][cod_barra]" value="${cod_barra}">
                    <input type="hidden" name="items[${index}][descripcion]" value="${descripcion}">
                    <input type="hidden" name="items[${index}][cantidad]" value="${cantidad}">
                    <input type="hidden" name="items[${index}][precio]" value="${precio}">
                    <input type="hidden" name="items[${index}][total]" value="${total}">
                `;
                    }
                });

                document.getElementById('total').value = document.getElementById('totalCobrar').textContent;
                document.getElementById('sale-form').submit();
            }
        });
    });
</script>

{{> footer}}