@font-face{
    font-family: 'honk';
    src: url(../fonts/PlaywriteES-ExtraLight.ttf);
}

html {
    min-height: 100%;
    position: relative;
}

body {
    display: grid;
    place-items: center;
    gap: 50px;
    margin: 0;
    margin-bottom: 40px;
    height: 100vh;
    padding: 0 32px;
    background: #eff9ff;
    font-family: "Poppins";
    width: 100%;
    height: 100%;
}

@media (width >=500px) {
    body {
        padding: 0;
    }

    .card {
        margin: 0;
        width: 360px;
    }
}

.background {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65c8ff;
}

.card {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 54%;
    margin: 0 20px;
    padding: 170px 30px 54px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0, 0, 0 / 10%);
}

.card::before {
    content: "";
    position: absolute;
    top: -880px;
    left: 50%;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #216ce7;
}

.background::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
}

.card .logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50% 0;
    width: 64px;
    height: 64px;
    margin-left: -30px;
}

.card>h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 38px;
    color: rgb(0, 0, 0 / 38%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form {
    margin: 0 0 44px;
    display: grid;
    gap: 12px;
}

.form :is(input, button) {
    width: 100%;
    height: 56px;
    border-radius: 35px;
    /* Incrementar el borde redondeado */
    font-size: 16px;
    font-family: inherit;
}

.form>input {
    border: 0;
    padding: 0 24px;
    color: #222222;
    background: #ededed;
    width: 90%;
    margin-left: 20px;

}

.form>input::placeholder {
    color: rgb(0 0 0 /28%);
    font-size: 25px;
    text-align: center;
}

.form>button {
    border: 0;
    color: #f9f9f9;
    background: #226ce7;
    display: grid;
    place-items: center;
    font-weight: 500;
    cursor: pointer;
    width: 94%;
    margin-left: 20px;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: "Poppins";
}


/*------------------------------------------------------------------------------ADMIN--------------------------------------------------------------------------------------------------*/
#title-home{
    margin-top: 25px;
}

#admin-header {
    width: 100%;
    padding: 8%;
}


#bg-apertura {
    background-color: #919191;
    color: rgb(8, 0, 0);
}

.table-container {
    border: 2px solid #000;
    /* Puedes ajustar el color y el grosor del borde según tu preferencia */
    border-radius: 5px;
    /* Opcional: para bordes redondeados */
    overflow: auto;
    /* Para manejar el desbordamiento si la tabla es muy grande */
}


/*--------------------------------------------------------------------------CARD LOGIN----------------------------------------------------------------------------------------*/
#card-loging{
    margin-bottom: -10%;
}


/*-------------------------------------------------------------------------INPUT CODIGO DE BARRAS----------------------------------------------------------------------------------------------------*/

#codigo-barra-busqueda {
    margin-left: 93px;
    font-size: 18px;

}



/*----------------------------------------------------------------------FORMULARIO Y TABLA DE VENTAS-----------------------------------------------------------------------------------*/
#table-sales-form {
    display: grid;
    margin-top: -10%;
    max-width: 75%;
    padding: 15px;
}

#title-factura{
    text-align: center;
    color: #000000;
}

.form-group {
    margin-top: 10px;
}

table.table {
    margin-top: 20px;
}

#total-cobrar{
    margin-left: 55vw;
    width: 20vw;
    background-color: #baddf0;
    text-align: start;
    border-style: inset;    
}

#total-cobrar-reportes{
    margin-left: 55vw;
        width: 13vw;
        background-color: #baddf0;
        text-align: center;
        border-style: inset;
}

@media (max-width: 800px){
    #total-cobrar{
        display: grid;
        background-color: #216ce7;
    }
}



/*-----------------------ENCABEZADO DE TABLA VENTAS-----------*/
#title-table-sales{
    background-color: #e0dcdc;
}



/*----------------------------------------FOOTER--------------------------*/
#footer-init{
    position: absolute;
        bottom: 0%;
        width: 100%;
        height: 40px;
        color: rgb(17, 0, 0);
}

#footer-burger{
    text-align: center;
    width: 100%;
}

#burger-title{
    font-family: 'honk';
    font-size: 45px;
}




/*----------------------------------------------------------------------------------------VIEW SALES--------------------------------------------------------------------------*/
#pie-view-sales{
    margin-top: 4%;
    padding-bottom: 10%;
}



/*------------------------------------------------------------------------------------------NEW PRODUCTS----------------------------------------------------------------------*/
#new-products{
    margin-top: 6%;    
}

#title-new-products{
    text-align: center;
}



/*------------------------------------------------------------------------------------------CAJA-------------------------------------------------------------------------*/
